## **Handling Imbalanced Dataset**
- Consider a binary classification problem where we need to predict yes or no. And suppose that the dataset contains 1000 datapoints - 900 yes and 100 no => which is clearly an imbalanced dataset. When we directly use this data - then we'll mostly get a biased classification as 'yes' even though it should be no.
- So we fix this problem using:
    1. **Upsampling**: extrapolate (or increase) the minority points to balance with the majority points.
    2. **Downsampling**: intrapolate (or decrease) the majority points to balance with the minority points.

## **Create an Imbalaced dataset**

In [1]:
# create an imbalanced dataset
import numpy as np
import pandas as pd

# set the random seed for reproducibility
np.random.seed(123)

# create a dataframe with 2 classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0, n_class_1

(900, 100)

In [ ]:
# create a dataframe using imbalanced dataset
# .normal = normal distribution
class_0 = pd.DataFrame({
    "feature_1": np.random.normal(loc = 0, scale = 1, size = n_class_0),
    "feature_2": np.random.normal(loc = 0, scale = 1, size = n_class_0),
    "target": [0]*n_class_0
})

class_1 = pd.DataFrame({
    "feature_1": np.random.normal(loc = 2, scale = 1, size = n_class_1),
    "feature_2": np.random.normal(loc = 2, scale = 1, size = n_class_1),
    "target": [1]*n_class_1
})

In [4]:
# reset the indexes after concating both the dataframes
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [5]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [6]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [7]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## **1. Upsampling**

- Increase the no. of 1's(100) to balance out the no. of 0's (900)
- It will try to extra-polate (increase the minority points) points to balance the minority with majority.

In [8]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [9]:
from sklearn.utils import resample

df_minority_upsampled = resample(df_minority, 
                                 replace=True, # sample with replacemet
                                 n_samples = len(df_majority), 
                                 random_state=42
                                 )

In [10]:
df_minority_upsampled.shape

(900, 3)

In [11]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [12]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

In [13]:
df_upsampled

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

[1800 rows x 3 columns]

In [14]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

## **Create an Imbalanaced Dataset**

In [15]:
import numpy as np
import pandas as pd

np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [18]:
class_0 = pd.DataFrame({
    "feature_1": np.random.normal(loc = 0, scale = 1, size = n_class_0),
    "feature_2": np.random.normal(loc = 0, scale = 1, size = n_class_0),
    "target": [0] * n_class_0
})

class_1 = pd.DataFrame({
    "feature_1": np.random.normal(loc = 2, scale = 1, size = n_class_1),
    "feature_2": np.random.normal(loc = 2, scale = 1, size = n_class_1),
    "target": [1] * n_class_1
})

In [20]:
n_class_0, n_class_1

(900, 100)

## **2. Downsampling**
- Increase the no. of 0's(900) to balance out the no. of 1's (100)
- It will try to intra-polate (increase the majority points) points to balance the majority with minority.

In [34]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [35]:
from sklearn.utils import resample

df_majority_downsampled = resample(df_majority,
                                   replace = False, # coz we need to reduce the datapoints
                                   n_samples = len(df_minority),
                                   random_state = 42
                                   )

In [36]:
df_majority_downsampled.shape

(100, 3)

In [41]:
df_downsampled = pd.concat([df_minority, df_majority_downsampled])

In [42]:
df_downsampled

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1
..         ...        ...     ...
398  -0.168426   0.553775       0
76   -0.403366   0.081491       0
196  -0.269293   0.611238       0
631  -0.295829   0.671673       0
751  -0.553404   0.804438       0

[200 rows x 3 columns]

In [43]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64